.guide-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    margin: 6px;
    cursor: pointer;
}
.guide-thumbnail {
    width: 90%;
    height: 80%;
}

.touch-screen {
    width: 70%;
    height: 70%;
}