.guide-detail-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.guide-detail-image {
    width: 60%;
}

.fire-extinguisher-guide-image {
   width: 40%;
}

@media only screen and (max-width : 600px) {
    .guide-detail-wrapper {
        display: flex;
        flex-direction: column;
    }

    .guide-detail-image {
        width: 100%;
    }
    
    .fire-extinguisher-guide-image {
        width: 100%;
    }
}